body {
    background-image: url('/img/hexa-background.jpg');
}

h1 {
    color: black;
    text-align: center;
    margin: 20px 0;
}

.post{
    color: black;
    background-color: white;
    border: gray 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.bestanswer{
    background-color:palegoldenrod;
    /* color: navy; */
    font-weight: bold;
}