#links {
    margin-bottom: 10px;
}

#search-input {
    width: 80%;
    display: inline-block;
}

#search-button {
    margin-bottom: 5px;
    display: inline-block;
}

section {
    padding: 20px;
}

.first-section {
    background-image: url('/img/welcome-background.jpg');
    background-attachment: fixed;
    color: dimgray;
}

.second-section {
    background-color: white;
}

.third-section {
    background-color: yellowgreen;
}

.fourth-section {
    background-image: url('/img/welcome-background2.jpg');
    background-attachment: fixed;
    color: black;
}